{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 10 }
        }]
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 10 }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 10 }
        }]
      ]
    },
    "web": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 10 }
        }]
      ]
    }
  },
  "plugins": ["@babel/transform-runtime"]
}
